.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 3.5rem;
  width: 25rem;
  padding: 0 3rem;

  border-radius: 10px;
  border: 2px solid black;
  background-color: #a67b5b;
}

.button:hover {
  cursor: pointer;
  background-color: #836148;
}

.home-body h1 {
  font-size: 48px;
}
