#root {
  color: white;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 3.5rem;
  width: 25rem;

  border-radius: 10px;
  border: 2px solid black;
}

.button:hover {
  cursor: pointer;
}

a.button {
  width: 15em;
  background-color: #a67b5b;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 3.1em 0;
  border: 0.1em solid black;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
a.button:hover {
  background-color: #836148;
}
@media all and (max-width: 30em) {
  a.button {
    display: block;
    margin: 0.2em auto;
  }
}

@media screen and (max-width: 700px) {
  a.button {
    width: 8em;
    height: 2em;
    margin: 0 0.1em 1.3em 0;
    border-radius: 0.5em;
  }

  a.button h2 {
    font-size: 0.5rem;
  }
}

.home-body h2 {
  color: white;
  font-size: 2rem;
}
