.shared-header {
  margin: 2rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.shared-header .title {
  background-color: #533621;
  border: 2px solid black;
  border-radius: 10px;
  height: 50%;
  padding: 1rem;
}

.shared-header h1 {
  font-size: 64px;
}

.shared-header .icons {
  margin-inline: 2rem;
  height: 50%;
}

.shared-header .quick-buttons {
  margin-inline: 2rem;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.shared-header .quick-buttons .volume-icon:hover {
  cursor: pointer;
}

.shared-header .quick-buttons .help-icon:hover {
  cursor: pointer;
}

.shared-footer {
  display: flex;
  justify-content: center;
}

.shared-footer button {
  margin: 3.5rem;
  width: 25rem;
  padding: 0 3rem;

  border-radius: 10px;
  border: 2px solid black;
  background-color: #a67b5b;
}

.shared-footer footer button:hover {
  cursor: pointer;
  background-color: #836148;
}

.game-setup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.shared-footer footer h1 {
  font-size: 48px;
}
