.shared-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 4.5rem;
  flex-wrap: wrap;
  gap: 5.5rem;
}

.side-button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  flex: 1 1 auto;
  text-align: center;
}

.title {
  background-color: var(--header-color-primary);
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
  border-radius: 10px;
  margin: 0;
  font-size: 4.5rem;
  white-space: nowrap;
}

.icon {
  height: 4em;
  width: 4em;
}

.volume-icon,
.help-icon {
  height: 2em;
  width: 2em;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .title {
    font-size: 3rem;
  }

  .icon {
    height: 3em;
    width: 3em;
  }
  .volume-icon,
  .help-icon {
    width: 1.5em;
    height: 1.5em;
  }
  .shared-header {
    margin-bottom: 1.5rem;
    gap: 2.5rem;
  }
  .title-row {
    gap: 1rem;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 1.3rem;
  }

  .shared-header {
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }
  .title-row {
    gap: 0.1rem;
  }
  .icon {
    height: 2em;
    width: 2em;
  }
  .volume-icon,
  .help-icon {
    height: 1em;
    width: 1em;
  }

  .title-row {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1rem;
  }
}
