@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");

* {
  font-family: "Carrois Gothic SC", sans-serif;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black, -2px 0 1px black, 2px 0 1px black, 0 -2px 1px black,
    0 2px 1px black;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-image: url("assets/images/backgroundImage.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
