#root {
  height: 100%;
}

.game-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.game-page * {
  overflow-y: hidden;
}

.side-panel {
  color: #aa7c51;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-left: 2px solid #372e25;
  background-color: #f1deb4;
}

.player-panel {
  overflow-x: hidden;
}

.player-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  padding: 1rem;
}

.image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
  overflow-x: hidden;
}

.player-panel-header img {
  width: 3rem;
  height: auto;
  margin-left: 0;
  padding: 0;
}

.player-panel hr {
  width: 90%;
  border: none;
  border-top: 1px solid #6f5033;
}

.players-title {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-title h2 {
  width: 100%;
  text-align: center;
}

.board-container {
  aspect-ratio: 1 / 1;
  width: 50%;
  height: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/backgroundImage.png");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: center;
}

.player-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 85%;
  width: 100%;
}

.player-element {
  color: white;
  background-color: white;
  margin: 2vh;
  border-radius: 10px;
  border: 2px solid #372e25;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 70%;
  height: 15%;
}

.player-element .player-color {
  border-radius: 10px 0px 0px 10px;
  width: 1px;
  height: 100%;
}

.player-element .player-name {
  width: 100%;
  padding-left: 0.5em;
  margin-bottom: 0.5rem;
}

.player-element p {
  width: 100%;
  padding-left: 0.5em;
}

.player-element .player-info {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 2%;
}

.player-element .player-info p {
  margin-top: 0;

  color: white;
}

.dice-panel {
  flex: 1;
  display: flex;
  height: 20%;
  width: 100%;
  border-top: 1px solid #372e25;
}

.deed-icon {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.deed-icon img {
  height: 100%;
}

.deed-icon img:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.player-panel footer {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.player-panel footer {
  height: 20%;
}

.player-panel footer .quick-buttons {
  overflow-x: hidden;

  margin-inline: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.player-panel footer .quick-buttons .volume-icon {
  cursor: pointer;
  height: 2rem;
}
.player-panel footer .quick-buttons .help-icon {
  cursor: pointer;
  height: 2rem;
}

.player-panel-footer button {
  width: 20vw;
  height: 6vh;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #a67b5b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-panel-footer button:hover {
  cursor: pointer;
  background-color: #836148;
}

.player-panel-footer button h3 {
  width: 100%;
  font-size: 1.2rem;
}

.dice-panel-inner {
  width: 100%;
}

.roll-panel {
  width: 90%;
  padding-inline-start: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  height: 40%;
}

.roll-panel button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 4vh;
  color: white;
  border-radius: 200px;
  border: 2px solid black;
  background-color: #852221;
}

.roll-panel button:hover {
  background-color: #d83f3c;
  cursor: pointer;
}

.roll-panel button:disabled {
  background-color: #c48482;
  cursor: default;
}

.dice-icons {
  overflow-x: hidden;
  height: 100%;
}

.dice-icons .dice-icon {
  height: 100%;
}

.score-panel {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
}

.score-panel h2 {
  width: 100%;
  text-align: center;
}

/* TEST */

#board {
  display: grid;
  grid-template-columns: 15% repeat(9, 7.78%) 15%;
  grid-template-rows: 15% repeat(9, 7.78%) 15%;
  height: 100%;
  width: 100%;
  aspect-ratio: auto;

  /*a, b, c, d are 9 rows and o is center*/
  grid-template-areas:
    "c c c c c c c c c c d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b o o o o o o o o o d"
    "b a a a a a a a a a a";
}

#board * {
  overflow-x: hidden;
}
#center {
  grid-area: o;
}
.row {
  display: flex;
}
.tile {
  position: relative;
  background-color: #cfb095;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.income-tax-tile {
  background-color: #cfb095;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.tile-picture {
  border: 1px 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 4;
}

.income-tax-name {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.income-tax-price {
  padding-bottom: 1em;
}

.stables-name {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.go-picture {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 3;
  width: 100%;
  height: 100%;
}

.go-picture img {
  height: 50%;
}

.community-chest-name {
  margin-top: 0.7rem;
  margin-bottom: 0.6rem;
  flex: 2;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
}

.community-chest-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 100%;
  height: 100%;
}

.community-chest-picture img {
  height: 60%;
  padding-bottom: 1em;
}

.chance-name {
  font-size: 0.9rem;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.chance-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 100%;
  height: 100%;
}

.chance-picture img {
  padding-bottom: 1em;
}

.stables-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 100%;
}

.stables-picture img {
  height: 100%;
  width: auto;
}

.tile-picture img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.tile-color {
  flex: 0.5;
}
.tile-name {
  font-size: 0.7rem;
  margin-top: 0.3rem;
  flex: 6;
  display: flex;
  justify-content: center;
  text-align: center;
}
.tile-price {
  flex: 3;
  display: flex;
  justify-content: center;
}

#row-1 .utility-name {
  font-size: 0.7rem;
  margin-right: 0.3rem;
  margin-left: 0rem;

  display: flex;
  justify-content: center;
  text-align: center;
}

#row-2 .utility-name {
  font-size: 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;

  display: flex;
  justify-content: center;
  text-align: center;
}

/*Flex directions are used to give the tiles correct order*/
#row-0 {
  grid-area: a;
  flex-direction: row-reverse;
}
#row-1 {
  grid-area: b;
  flex-direction: column-reverse;
}
#row-2 {
  grid-area: c;
  flex-direction: row;
}
#row-3 {
  grid-area: d;
  flex-direction: column;
}

/*To make the corner tiles bigger and square*/
.row > .tile:nth-child(1) {
  flex: 0 0 18%;
}

/*Turn tiles*/
#row-1 .tile {
  writing-mode: vertical-rl;
}

#row-2 .tile {
  transform: rotate(180deg);
}
#row-3 .tile {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/*Turn corners*/
.row > .tile:first-child {
  text-align: center;
}

/* #row-2 > .tile:first-child .tile-name {
  transform: rotate(-45deg) translateY(38px);
} */

/* Turn images */
#row-1 .tile img {
  transform: rotate(90deg);
}

#row-3 .tile img {
  transform: rotate(90deg);
}

/* ROW 1 */

#row-1 .stables-name {
  padding-left: 1em;
  padding-right: 1em;
}

#row-1 .stables-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  height: 100%;
}

#row-1 .stables-picture img {
  width: 100%;
  height: auto;
}

#row-1 .community-chest-name {
  margin-top: 0;
  margin-right: 0.7rem;
  margin-left: 0.6rem;
  height: 100%;
  text-align: center;
}

#row-1 .community-chest-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 100%;
  height: 100%;
}

#row-1 .community-chest-picture img {
  height: 60%;
  width: auto;
  padding-bottom: 1em;
}

#row-1 .tile-name {
  margin-right: 0.3rem;
}

#row-1 .tile-picture img {
  transform: rotate(90deg);
  width: auto;
  height: 100%;
  display: block;
  object-fit: fill;
  aspect-ratio: 16 / 9;
}

#row-1 .tile-picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#row-1 .utility-picture-img {
  transform: rotate(90deg);
  width: auto;
  height: 57%;
  width: 100%;
  display: block;
  object-fit: fill;
  aspect-ratio: 16 / 9;
  margin-right: -1em;
}

#row-1 .utility-logo-img {
  transform: rotate(90deg);
  width: auto;
  height: 15%;
  display: block;
  object-fit: contain;
  aspect-ratio: 16 / 9;
}

#row-1 .utility-picture {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ROW 2 */

#row-2 .utility-picture-img {
  width: auto;
  width: 100%;
  display: block;
  object-fit: fill;
  aspect-ratio: 16 / 9;
}

#row-2 .utility-logo-img {
  width: auto;
  height: 15%;
  display: block;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  padding-top: 1em;
}

#row-2 .utility-picture {
  height: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lodging-name {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.lodging-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.lodging-picture img {
  height: 50%;
  width: auto;
  padding-bottom: 1em;
}

/* ROW 3 */
#row-3 .tile-name {
  flex: 3;
}

#row-3 .luxury-tax-price {
  padding-right: 1em;
  font-size: 0.7rem;
}

#row-3 .luxury-tax-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
}

#row-3 .luxury-tax-picture img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

#row-3 .stables-name {
  padding-left: 1em;
  padding-right: 1em;
}

#row-3 .stables-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  height: 100%;
}

#row-3 .stables-picture img {
  width: 100%;
  height: auto;
}

#row-3 .community-chest-name {
  margin-top: 0;
  margin-right: 0.7rem;
  margin-left: 0.6rem;
  height: 100%;
  text-align: center;
}

#row-3 .community-chest-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 100%;
  height: 100%;
}

#row-3 .community-chest-picture img {
  height: 60%;
  width: auto;
  padding-bottom: 1em;
}

#row-3 .tile-name {
  margin-right: 0.3rem;
}

#row-3 .tile-picture img {
  transform: rotate(90deg);
  width: auto;
  height: 100%;
  display: block;
  object-fit: fill;
  aspect-ratio: 16 / 9;
}

#row-3 .tile-picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: FIX CORNERS */

.jail-picture {
  display: flex;
  align-items: center;
  flex: 30;
}

/* TEST */
.player-dots-container {
  bottom: 5px;
  left: 5px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 2px;
}

.player-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
}
