#root {
  height: 100%;
}

.game-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.game-page * {
  overflow-y: hidden;
}

.side-panel {
  color: #aa7c51;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-left: 2px solid #372e25;
  background-color: #f1deb4;
}

.player-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  padding: 1rem;
}

.image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
}

.player-panel-header img {
  width: 3rem;
  height: auto;
  margin-left: 0;
  padding: 0;
}

.player-panel hr {
  width: 90%;
  border: none;
  border-top: 1px solid #6f5033;
}

.players-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  background-image: url("../../../assets/images/backgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 97vh;
  width: 50%;
  background-position: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 85%;
  width: 100%;
}

.player-element {
  color: white;
  background-color: white;
  margin: 2vh;
  border-radius: 10px;
  border: 2px solid #372e25;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 70%;
  height: 15%;
}

.player-element .player-color {
  border-radius: 10px 0px 0px 10px;
  width: 1px;
  height: 100%;
}

.player-element .player-name {
  width: 100%;
  padding-left: 0.5em;
  margin-bottom: 0.5rem;
}

.player-element p {
  width: 100%;
  padding-left: 0.5em;
}

.player-element .player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 2%;
}

.player-element .player-info p {
  margin-top: 0;

  color: white;
}

.dice-panel {
  flex: 1;
  display: flex;
  height: 20%;
  width: 100%;
  border-top: 1px solid #372e25;
}

.deed-icon {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.deed-icon img {
  height: 100%;
}

.deed-icon img:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.player-panel footer {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.player-panel footer {
  height: 20%;
}

.player-panel footer .quick-buttons {
  margin-inline: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.player-panel footer .quick-buttons .volume-icon:hover {
  cursor: pointer;
}

.player-panel footer .quick-buttons .help-icon:hover {
  cursor: pointer;
}

.player-panel-footer button {
  width: 10rem;
  height: 3rem;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #a67b5b;
}

.player-panel-footer button:hover {
  cursor: pointer;
  background-color: #836148;
}

.player-panel-footer button h3 {
  font-size: 15px;
}

.dice-panel-inner {
  width: 100%;
}

.roll-panel {
  width: 90%;
  padding-inline-start: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  height: 40%;
}

.roll-panel button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2rem;
  color: white;
  border-radius: 200px;
  border: 2px solid black;
  background-color: #852221;
}

.roll-panel button:hover {
  background-color: #d83f3c;
  cursor: pointer;
}

.dice-icons {
  height: 100%;
}

.dice-icons .dice-icon {
  height: 100%;
}

.score-panel {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
}

.score-panel h2 {
  width: 100%;
  text-align: center;
}
